<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Welcome to my portfolio! It is small now, but I am still learning and it will continue to grow along with me.</h2>
        <p class="lead">Please check out my professional r&#233;sum&#233; as well at <a target="_blank" href="http://taylorcoomer.net/">taylorcoomer.net</a>.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
